torch
torchaudio
torchvision
pytorch-lightning
opencv-python
pandas
wandb
matplotlib
einops
coloredlogs
scikit-learn
omegaconf
transformers==4.19.2
diffusers
invisible-watermark
open_clip_torch
notebook
torchxrayvision
pycocotools
ml_collections